@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Fredericka+the+Great|Slabo+27px');

h1
{
font-family: 'Fredericka the Great', serif;
font-weight: normal;
}

body{
    font-family: 'Slabo 27px';
    font-size: 18px;
}

a {
    color: #333;
    text-decoration: none;
    padding-left: 0;
    transition: padding-left .5s ease;

}

a:hover {
    color: #669;
    padding-left: 5px;
    transition: padding-left .5s ease;
}

#page-container {
    width: 800px;
    margin: 0 auto;
}

#files {
    border: 1px solid #ccc;
    border-radius: 3px;
}

#files-title {
    #border: 1px solid #ccc;
    padding: 2px 7px;
    background-color: #336;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;

}

#files > a {
    padding: 2px 5px;
    display: inline-block;
}

#files a:hover {
    color: #669;
    padding-left: 10px;
    transition: padding-left .5s ease;
}
